<div class="page-header">
  <h1>Builds</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Repo</th>
      <th>Pull request</th>
      <th>Author</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to build, build_path(build.repo, build) %></td>
        <td><%= build.repo %></td>
        <td><%= build.pull_request %></td>
        <td><%= build.user %></td>
        <td><%= state_label(build) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
