<div class="page-header">
  <h1><%= @build %> <%= state_label(@build) %></h1>
</div>

<div class="alert alert-<%= bs_context(@build) %>" role="alert">
  <%= @build.description %>
</div>

<dl class="dl-horizontal">
  <dt>Pull Request</dt>
  <dd><%= @build.repo %>#<%= @build.pull_request %></dd>

  <dt>Author</dt>
  <dd><%= @build.user %></dd>

  <dt>Commit</dt>
  <dd><%= @build.sha %></dd>

  <dt>Created at</dt>
  <dd><%= time_tag @build.created_at %></dd>
</dl>

<% if @violations.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">Violations</div>

    <table class="table">
      <% @violations.each do |violation| %>
        <tr>
          <td><%= link_to_line violation %></td>
          <td><%= violation.message %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end%>
