<!DOCTYPE html>
<html>
  <head>
    <title>Policial.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Policial.io', root_path, class: 'navbar-brand' %>
        </div>

        <p class="navbar-text navbar-right">
          <% if current_user %>
            <%= image_tag current_user.image %>
            <%= current_user.name %> ·
            <%= link_to 'Sign out', destroy_user_session_path, class: 'navbar-link', method: :delete %>
          <% else %>
            <%= link_to 'Sign in', user_omniauth_authorize_path(:github), class: 'navbar-link' %>
          <% end %>
        </p>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for(type) %>" role="alert">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
